doctype html
html(lang="ko")
    head
        title #{pageTitle} | Wetube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header #{pageTitle}
        div
          
    

        

            
            
            
        main
            nav
              ul
                li
                    a(href="/videos/upload") Upload Video 
                li
                    a(href="/") Home
            

            block content
    include partials/footer.pug    