extends ../base.pug


block content
    span=errorMessage

    form(method="POST")
        input(placeholder="Old Password",type="password", name="oldPassword")
        input(placeholder="New Password",type="password", name="newPassword")
        input(placeholder="New Password Confrimation",type="password", name="newPasswordConfrimation")
        input(value="Change Password", type="submit")